body {
    text-align: center;
    font-family: Arial;
    background-color: #eeeeee;
    background-image: url(images/background.jpg); 
    background-repeat: no-repeat;
    background-size: cover;

  }
  
  * {
    font-family: Arial;
    color: grey;
  }
  
  h1 {
    font-size: 2em;
    text-transform: uppercase;
  }
  
  .pixel-canvas {
    background-color : white;
  }
  
  .column:last-of-type {
    width: auto;
    height: 100%;
  }
  
  .bob {
      position: absolute;
      top: -8.9em;
      left: -4em;
  }